@font-face
{
    font-family: "default";
    src: url("./resource/font/default.ttf");
}
*
{
    margin: 0;
    padding: 0;
    font-family: "default";
    font-weight: bold;
    font-size: 16.75px;
    
}
html
{
    min-width: 100%;
    min-height: 100%;
}
button:focus, button:hover, button
{
    outline: 0;
}
#border
{
    margin: 0.5px;
    padding: 0.25px;
    border: 1px solid black;
}
#center
{
    text-align: center;
}
#margin
{
    margin: 5px;
}
[type="input"], [type="input"]:hover, [type="input"]:focus
{
    outline: 0;
    height: 16px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}
input[type="range"]
{
    width: 100%;
}
